
button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink{
	background-color:pink;
}

.container {
    padding: 5px;
    width: 450px;
    margin: auto;
    background-color: rgb(146, 146, 148);
    border-radius: 2px;
}

.row {
    color: rgb(245, 242, 242);
    width: 400px;
    margin: 5px auto;
    background-color: rgb(32, 31, 43);
    border-radius: 8px;
    height: 40px;
    font-family: sans-serif;
    line-height: 2;
}

#heading {
    width: 200px;
    background-color: rgb(114, 108, 179);
    color: #0b98c7;
    border-radius: 8px;
    text-align: center;
    margin: 20px auto;
}

#task {
    width: 300px;
   margin-left: 20px;
   margin-top: 20px;
}

#btn {
    margin-top: 20px;
     background-color: rgb(114, 108, 179);
     padding: 5px 10px;
     border-radius: 10px;
     border: solid 2px rgb(182, 117, 235);
     float: right;
     margin-right: 50px;
}